@charset "UTF-8";

.intro {
	text-align: center;
	color: white;
}

body {
	background: url("../images/StumpicusBackground.jpg");
 	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
	background: none;
  display: flex;
  align-items: center;
}

h1 {
	color: white;
	text-align: center;
}

h2 {c
	color: red;
}